<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Locations</h1>
</div>
<div class="panel-search" fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field class="group-field">
    <input [formControl]="filterName" matInput type="search" />
    <button
      (click)="search()"
      class="search"
      mat-button
      matSuffix
      mat-stroked-button
      aria-label="search"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <h1>List of Locations</h1>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let location">{{ location.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let location">{{ location.type }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dimension">
    <mat-header-cell *matHeaderCellDef>Dimension</mat-header-cell>
    <mat-cell *matCellDef="let location">{{ location.dimension }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="residents">
    <mat-header-cell *matHeaderCellDef>Residents</mat-header-cell>
    <mat-cell *matCellDef="let location"
      ><span [matBadge]="location.residents.length"></span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="characters">
    <mat-header-cell *matHeaderCellDef> Characters </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a
        [routerLink]="['/characters']"
        [queryParams]="{ location: element.name }"
        >See</a
      >
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [length]="lengthPaginator"
  [pageSizeOptions]="[20]"
  showFirstLastButtons
></mat-paginator>
