<div fxLayout="column">
  <p fxFlex>
    On this website, you can review the list of episodes, locations, and
    dimensions of Rick and Morty. You can filter by name in each of the lists
    and view the characters for each of the mentioned categories where they were
    last seen and see details of each of these characters. This website provides
    a comprehensive resource for fans of the show to explore the world of Rick
    and Morty.
  </p>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <img fxFlex src="assets/images/rickmorty_home.jpg" alt="Imagen Home" />
  </div>
</div>
