<section fxLayout="column" fxFlexAlign="stretch"> 
    <div fxLayout="row wrap" fxLayoutAlign="center center"> 
        <img class="logo" src="assets/images/Logo_Rick_and_Morty.svg" alt="Title Rick & Morty"> 
    </div>

    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Dimensions"> 
          <p>show dimensions component</p> 
        </mat-tab>
        <mat-tab label="Locations">
           <p>locations components.</p>
           <br><br><br><br><br><br><br><br><br><br>
           asdasd
          </mat-tab>
          <mat-tab label="Episodes">
            <p>episodes components.</p>
           </mat-tab>
      </mat-tab-group>
</section>
